body {
	font-size: 16px;
	color: black;
	background-color: white;
}

/* HEADER */
#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
	color: white;
}

.navbar-brand p {
	color: white;
	font-size: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid white;
}
/* END HEADER */

#home {
	margin-bottom: 30px;
}

.row {
	position: relative;
	float: left;
}

.row > div > article {
	background-color: gray;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}

@media (max-width: 767px) {
	.row > div {
		width: 100%;
		margin: 20px auto 0;
	}
}